.basic{
     border-collapse:collapse ;
     width: 100%;
}
.basic th , td {
    border: 1px solid #1e1c1c;
    padding: 8px;
    text-align: left;
}
.basic th{
    background-color: #a5b185;
}

.tbody, .zebra {
    width: 100%;
    border-collapse:collapse;
}

.tbody .zebra th, td {
    border: 1px solid #b1d9de;
    padding: 20px;
    text-align: left;
}
 .zebra tr:nth-child(even){
    background-color: gray;
 }
 .zebra tr:hover {
    background-color: #e0f7fa;
 }
 .zebra th {
    background-color: rgb(194, 217, 154);
 }
 .Slack{
    background-color: rgb(126, 171, 190);
 }
 .Slack tr:hover{
   background-color: rgb(196, 194, 198);
 }
 .Slack{
    border-collapse: collapse;
    width: 100%;
 }
 .Slack tr:nth-child(even){
    background-color:rgb(192, 210, 233);
 }
 .head {
    text-align: center;
    color: rgb(230, 232, 162);
    text-decoration: underline;
    text-emphasis: 100px;  
 }
 .head2 {
    text-align: center;
    color: black;
    text-decoration: underline;
 }
.Slack {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-style: oblique; 
}
.Slack {
    border-radius: 30px;
}